<div class="jumbotron text-center">
  <h1>Timeline</h1>
</div>

<div class="container">
  <ul class="timeline">

  <% @activities.each_with_index do |activity| %>

    <% if activity.trackable %>

      <% if cycle('odd','even') == 'odd' %>
        <li class="timeline-inverted">
      <% else %>
        <li>
      <% end %>
      <div class="timeline-badge"><%= gravatar_tag activity.owner.email, size: 55 %></div>
       <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"><%= link_to activity.owner.username, user_path(activity.owner.username) %></h4>
          <p><small><%=  time_ago_in_words(activity.created_at)%> ago</small></p>
        </div>
        <div class="timeline-body">
         <% if activity.trackable_type == "Post" %>
           <%= activity.trackable.content %>
         <% else %>
           <p><%= link_to activity.owner.username, user_path(activity.owner.username) %> is now friends with <%= link_to activity.recipient.username, user_path(activity.recipient.username) %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>